/* Login page */
body.pagelayout-login {                                                                                                             
    background-image: url([[pix:theme_ikbfu2021|loginbackgroundimage]]);                                                                
    background-size: cover;                                                                                                         
}

/* All blocks position */
[data-region="blocks-column"] {
    float: none;
}

/* Frontpage */
.pagelayout-frontpage #region-main {
    display: none;
}
.pagelayout-frontpage #block-region-side-pre {
    display: flex;
    flex-direction: row;
}
.pagelayout-frontpage .card {
    border: 0px;
}
.pagelayout-frontpage .block {
    margin-right: 1rem;
    min-width: 300px;
}
.pagelayout-frontpage [data-region="drawer-toggle"] {
    display: none !important;
}

$dark_gray: #4a4a4a ;

[data-region="drawer"] {
    background-color: $dark_gray;
    position: absolute;
    height: auto;

    .list-group-item {
        background-color: $dark_gray;
        color: #fff;
    }
}

body {
    background-color: $dark_gray;
}

#page-my-index {
    background-color: $dark_gray;
}

[data-region="grading-navigation-panel"] {
    background-color: #ffffff;
}

[data-region="grade-actions-panel"] {
    background-color: #ffffff;
}

#page-footer {
    display: none;
}

.card-body {
    background-color: #fff;
}

