/* Login page */
body.pagelayout-login {
  background-image: url([[pix:theme_ikbfu2021|loginbackgroundimage]]);
  background-size: cover;
}


/* Frontpage */
#page-site-index {
  [data-region="drawer-toggle"] {
    display: none !important;
  }

  [data-region="blocks-column"] {
    float: none;
  }
}

.pagelayout-frontpage {

  [data-region="blocks-column"] {
    width: auto;
  }

  #region-main {
    display: none;
  }

  #block-region-side-pre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    border: 0;
  }

  .block {
    margin-right: 1rem;
    width: 400px;
  }

  h1 {
    font-size: 2rem;
  }

  .frontpage-big_button
  {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }


  .layer {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }

  .layer:hover
  {
    background-color: rgba(0,0,0,0.2);
  }

  .frontpage-big_button > div > a
  {
    display: block;
    height: 100%;
    width: 100%;
    padding-top:20%;
  }

  .frontpage-big_button > div > a > h1
  {
    color: white;
  }

  .frontpage-big_button > div > a:focus
  {
    background-color: rgba(0,0,0,0);
  }

  .frontpage-big_button-all_courses
  {
    background-image: url(https://lms-3.kantiana.ru/pix/fp/all_courses.jpg);
  }

  .frontpage-big_button-mooc
  {
    background-image: url(https://lms-3.kantiana.ru/pix/fp/mooc.jpg);
  }

  .frontpage-big_button-notifications
  {
    background-image: url(https://lms-3.kantiana.ru/pix/fp/notifications.jpg);
  }

  .frontpage-big_button-teachers
  {
    background-image: url(https://lms-3.kantiana.ru/pix/fp/teachers.jpg);
  }

  .frontpage-big_button-students
  {
    background-image: url(https://lms-3.kantiana.ru/pix/fp/students.jpg);
  }

  .frontpage-big_button-question
  {
    background-image: url(https://lms-3.kantiana.ru/pix/fp/question.jpg);
  }

  .card-text {
    height: 100%;
  }

  .no-overflow {
    height: 100%;
  }

}


$dark_gray: #4a4a4a;

[data-region="drawer"] {
  background-color: $dark_gray;


  .list-group-item {
    background-color: $dark_gray;
    color: #fff;
    border: 0;
  }

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

[data-region="drawer"]::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

body {
  background-color: $dark_gray;
}

#page-my-index {
  background-color: $dark_gray;
}

[data-region="grading-navigation-panel"] {
  background-color: #fff;
}

[data-region="grade-actions-panel"] {
  background-color: #fff;
}

#page-footer {
  display: none;
}

.card-body {
  background-color: #fff;
}

#page {
  background: #fff;
}

.navbar {
  box-shadow: 0 6px 15px -5px rgb(0 0 0 / 75%);
}


/* Tune Edwiser */

.general-section-card-details .generalsecactivities > div:first-child {
  box-shadow: none;
}

.general-activities-list-group {
  display: none;
}

.section-summary-activities {
  display: none;
}

.progress-text {
  display: none;
}


.card {
  border: none;
}



#region-main {
  border: 0;
}

// Enrolment options page

.generalbox {
  .coursebox {
    min-width: 450px;
    width: 450px;
    height: 200px;
    margin: 10px;
    -webkit-box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff !important;

    .ikbfu2021-info {
      flex-direction: column;
      display: flex;
      height: 100%;
      justify-content: space-between;

      .ikbfu2021-row {
        display: flex;
        justify-content: space-between;

        .coursename {
          a {
            color: #000;
            font-weight: 300;
            font-size: initial;
          }

          a:hover {
            color: #000;
            text-decoration: none;
          }
        }

        .ikbfu2021-teachers {
          a {
            color: #000;
            font-weight: 500;
          }

          a:hover {
            color: #000;
            text-decoration: none;
          }
        }

        .courseimage {
          width: auto !important;

          img {
            width: 100px;
            height: 100px;
            border-radius: 5%;
            object-fit: cover;
          }
        }

        .ikbfu2021-teachers {
          list-style: none;
        }
      }
    }
  }
}

// Category list of courses

.ikbfu2021-course_category_tree {
  .content {
    .courses {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: unset;

      .coursebox {
        min-width: 450px;
        width: 450px;
        height: 200px;
        margin: 10px;
        -webkit-box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.2);
        background-color: #fff !important;

        .ikbfu2021-info {
          flex-direction: column;
          display: flex;
          height: 100%;
          justify-content: space-between;

          .ikbfu2021-row {
            display: flex;
            justify-content: space-between;

            .coursename {
              a {
                color: #000;
                font-weight: 300;
                font-weight: large !important;
              }

              a:hover {
                color: #000;
                text-decoration: none;
              }
            }

            .ikbfu2021-teachers {
              a {
                color: #000;
                font-weight: 500;
              }

              a:hover {
                color: #000;
                text-decoration: none;
              }
            }

            .courseimage {
              width: auto !important;

              img {
                width: 100px;
                height: 100px;
                border-radius: 5%;
                object-fit: cover;
              }
            }

            .ikbfu2021-teachers {
              list-style: none;
            }
          }
        }
      }
    }
  }
}


.general-section-card-details .generalsecactivities .activityinstance img {
    width: 24px!important;
    height: 24px!important;
}

.generalsecactivitiescontent {
  .aalink {
    display: flex;
  }

  text-align: left !important;
}

.generalsecactivitiesmain {
  align-items: flex-end;
}

.general-section-card-details .generalsecactivities {
  margin: 5px !important;
}

.generalsecactivitiescontent {
  padding: 5px !important;
}

.general-section-card-details .generalsecactivities>div:first-child {
  padding-top: 12px !important;
  padding-left: 12px !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}



.general-section-card-details .coursemainimagediv, .general-section-card-details .coursemainimage {
  height: auto;
}